body {
    text-align: center;
    font: sans-serif;
    font-family: sans-serif;
    font-size: 16px;
    background-color: silver;
}
ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
   float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 140px;
    text-decoration: none;
}


.active {
    background-color: #4CAF50;
}

button {
  
    height: 60px;
    background-color: blue;
    color: white;
   border-radius: 3px;
}